{% extends 'base.html.twig' %}

{% block body %}
{#<ul>#}
   {#{% for category in  categories%}#}

    {#<li>{{ category.id }}:{{ category.name }}</li>#}
{#{% endfor %}#}
{#</ul>#}
<h1> Add a new Category</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


{% endblock %}